<ion-header>
    <ion-navbar>
        <ion-title>
            Λίστα για ψώνια
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)" (ionClear)="onCancel($event)" [showCancelButton]="true"
                   [(ngModel)]="searchModel"></ion-searchbar>
    <ion-list *ngIf="showList">
        <ion-item *ngFor="let item of items" (click)="saveItem(item.id)">
            <ion-avatar item-left>
                <img [src]="item.image"/>
            </ion-avatar>
            <p>{{ item.name }}</p>
        </ion-item>
    </ion-list>
    <ion-list no-lines>
        <ion-item *ngFor="let item of shoppingItems" (click)="removeItem($event, item.id)">
            <ion-avatar item-left>
                <img [src]="item.image"/>
            </ion-avatar>
            <p>{{ item.name }}</p>
        </ion-item>
    </ion-list>
</ion-content>